
.brochure-form-style {
    margin: 10px 0 0 25px;
    overflow: auto;
    height: calc(100vh - 140px) !important;
    width: calc(100vw - 425px) !important;
}

.brochure-form-item-label-style {
    margin: 10px 0 0 25px;
    color: gray;
    font-weight: 500;
}

.brochure-form-item-text-style {
    margin: 10px 0 0 25px;
    font-weight: 600;
}