
.brochure-form-style {
    margin: 10px 0 0 25px;
}

.brochure-form-item-label-style {
    margin: 10px 0 0 25px;
    color: gray;
    font-weight: 500;
}

.brochure-form-item-text-style {
    margin: 10px 0 0 25px;
    font-weight: 600;
}