
.distributions-tab-header-style {
    height: 30px;
    background-color: white;
}

.distributions-tab-content-style {
    height: calc(100vh - 230px);
    background-color: white;
}

.distributions-table-style {
    margin: 30px 0 0 50px;
    height: calc(100vh - 190px);
    width: calc(100vw - 450px);
    flex: min-content;
    min-width: 400px;
}