
.white-background-style {
    background-color: white;
}

.main-window-layout {
    height: auto;
}

.main-window-header {
    height: 75px;
    background-color: burlywood;
}

.main-window-buttons-panel-style {
    height: 35px;
    background-color: antiquewhite;
}

.buttons-style {
    margin: -15px 0 0 0 !important;
}

.main-window-content {
    height: calc(100vh - 110px);
    background-color: white;
}

.header-title {
    margin: 0 0 -5px 0 !important;
    font-size: 28px !important;
}

.sider-style {
    background-color: rgb(240, 240, 240) !important;
    height: calc(100vh - 110px);
}